# Ignore build output
**/bin/
**/obj/

**/node_modules/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider/VS Code settings
.idea/
.vscode/

# Ignore compiled DLLs and EXEs
*.dll
*.exe
*.pdb

# Ignore appsettings from Debug output
**/bin/Debug/**/appsettings*.json

# Ignore logs and temp files
*.log
*.tmp
/.vs/app
*.env