MoneyManager.Api/bin/Debug/net8.0/appsettings.Development.json
MoneyManager.Api/bin/Debug/net8.0/appsettings.json
MoneyManager.Api/bin/Debug/net8.0/Humanizer.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Build.Locator.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
MoneyManager.Api/bin/Debug/net8.0/MoneyManager.Api.deps.json
MoneyManager.Api/bin/Debug/net8.0/MoneyManager.Api.dll
MoneyManager.Api/bin/Debug/net8.0/MoneyManager.Api.exe
MoneyManager.Api/bin/Debug/net8.0/MoneyManager.Api.pdb
MoneyManager.Api/bin/Debug/net8.0/MoneyManager.Api.runtimeconfig.json
MoneyManager.Api/bin/Debug/net8.0/Mono.TextTemplating.dll
MoneyManager.Api/bin/Debug/net8.0/Npgsql.dll
MoneyManager.Api/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
MoneyManager.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
MoneyManager.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MoneyManager.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MoneyManager.Api/bin/Debug/net8.0/System.CodeDom.dll
MoneyManager.Api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
MoneyManager.Api/bin/Debug/net8.0/System.Composition.Convention.dll
MoneyManager.Api/bin/Debug/net8.0/System.Composition.Hosting.dll
MoneyManager.Api/bin/Debug/net8.0/System.Composition.Runtime.dll
MoneyManager.Api/bin/Debug/net8.0/System.Composition.TypedParts.dll
MoneyManager.Api/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
MoneyManager.Api/bin/Debug/net8.0/System.IO.Pipelines.dll
MoneyManager.Api/bin/Debug/net8.0/System.Text.Encodings.Web.dll
MoneyManager.Api/bin/Debug/net8.0/System.Text.Json.dll
MoneyManager.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
MoneyManager.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MoneyManager.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MoneyManager.Api/obj/MoneyManager.Api.csproj.EntityFrameworkCore.targets
MoneyManager.Api/obj/MoneyManager.Api.csproj.nuget.dgspec.json
MoneyManager.Api/obj/MoneyManager.Api.csproj.nuget.g.props
MoneyManager.Api/obj/MoneyManager.Api.csproj.nuget.g.targets
MoneyManager.Api/obj/project.assets.json
MoneyManager.Api/obj/project.nuget.cache
MoneyManager.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MoneyManager.Api/obj/Debug/net8.0/apphost.exe
MoneyManager.Api/obj/Debug/net8.0/MoneyMan.02BEDD5D.Up2Date
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.AssemblyInfo.cs
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.AssemblyInfoInputs.cache
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.assets.cache
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.csproj.AssemblyReference.cache
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.csproj.CoreCompileInputs.cache
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.csproj.FileListAbsolute.txt
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.dll
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.GeneratedMSBuildEditorConfig.editorconfig
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.genruntimeconfig.cache
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.GlobalUsings.g.cs
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.MvcApplicationPartsAssemblyInfo.cache
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.MvcApplicationPartsAssemblyInfo.cs
MoneyManager.Api/obj/Debug/net8.0/MoneyManager.Api.pdb
MoneyManager.Api/obj/Debug/net8.0/staticwebassets.build.json
MoneyManager.Api/obj/Debug/net8.0/ref/MoneyManager.Api.dll
MoneyManager.Api/obj/Debug/net8.0/refint/MoneyManager.Api.dll
MoneyManager.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.MoneyManager.Api.props
MoneyManager.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.MoneyManager.Api.props
MoneyManager.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.MoneyManager.Api.props
MoneyManager.Api/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Razor.Language.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Razor.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Localization.Abstractions.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.Localization.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
MoneyManager.Api/bin/Debug/net8.0/Microsoft.Extensions.WebEncoders.dll
MoneyManager.Api/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
MoneyManager.Api/bin/Debug/net8.0/Newtonsoft.Json.dll
MoneyManager.Api/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
MoneyManager.Api/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
MoneyManager.Api/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
